// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// CSS variables with default values. Values can be adjusted by themes, and localized at the url level.

$cssVars: (
  brand-color-primary: #007bff,
  brand-color-primary-contrast: #fff,
  brand-color-secondary: #007bff,
  brand-color-secondary-contrast: #fff,
  brand-color-tertiary: #007bff,
  brand-color-tertiary-contrast: #fff,
  theme-color-light: #ffffff,
  theme-color-dark: #333333,
  theme-color-primary: #007bff,
  theme-color-accent: var(--brand-color-primary-light),
  theme-body-color: #f4f6f8,
  theme-body-color-light: #ffffff,
  theme-body-color-dark: #eeeeee,
  theme-body-text-color: var(--theme-color-dark),
  theme-link-color: var(--brand-color-primary-dark),
  theme-border-color: rgba(0,0,0,.1)
);

// Color system

$white: #FFF !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


// Options
//
// Quickly modify global styling by enabling or disabling option features.

$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-responsive-font-sizes: false !default;


// Spacing
//
// Control the default styling of most Framework elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);


// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-900 !default;


// Links
//
// Style anchor elements.

//$link-color: theme-color("primary") !default; // disabling for now
$link-color: #007bff !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Specify the width of the gutters.

$grid-gutter-width: 30px !default;


// Components
//
// Define common padding and border-radius sizes and more.

$border-width: 1px !default;
$border-color: $gray-300 !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$small-font-size: 80% !default;

$text-muted: $gray-600 !default;

$mark-padding: .2em !default;
$mark-bg: #fcf8e3 !default;

$dt-font-weight: $font-weight-bold !default;

$list-inline-padding: .5rem !default;

$blockquote-small-color: $gray-600 !default;
$blockquote-small-font-size: $small-font-size !default;
$blockquote-font-size: $font-size-base * 1.25 !default;

$hr-border-color: rgba($black, .1) !default;
$hr-border-width: $border-width !default;
$hr-margin-y: $spacer !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: .5rem !default;
$table-caption-color: $text-muted !default;

$table-color: $body-color !default;
$table-bg: null !default;
$table-hover-color: $table-color !default;
$table-hover-bg: rgba($black, 0.05) !default;

$table-border-width: $border-width !default;
$table-border-color: $border-color !default;

$table-head-bg: $gray-200 !default;
$table-head-color: $gray-700 !default;


// Forms

$label-margin-bottom: .5rem !default;


// Figures

$figure-caption-font-size: 90% !default;
$figure-caption-color: $gray-600 !default;
