:host {
  box-sizing: border-box;
}

:host([disabled]) {
  pointer-events: none;
}

button {
  cursor: pointer;
  border: 1px solid;
  border-color: var(--theme-border-color);
  background-color: var(--theme-color-light);
  color: var(--theme-color-dark);
  line-height: 20px;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 3px;

  &:disabled {
    opacity: 0.4;
  }

  &.btn-outline {
    background: transparent;
    border-color: var(--theme-border-color-solid);
    color: var(--theme-body-text-color);
  }

  &.btn-primary {
    background-color: var(--theme-primary-button-color);
    border-color: var(--theme-primary-button-color);
    color: var(--theme-primary-button-text-color);
  }

  // Size variations
  &.btn-small {
    padding: 2px 8px;
    font-size: 12px;
  }
  &.btn-large {
    padding: 8px 20px;
    font-size: 16px;
  }

}
