/* Default theme colors */

:root {
  --theme-color-light: #ffffff;
  --theme-color-dark: #3d3d3d;
  --theme-body-color: #f7f7f7;
  --theme-body-color-light: #ffffff;
  --theme-body-color-dark: #eeeeee;
  --theme-body-text-color: var(--theme-color-dark);
  --theme-link-color: var(--brand-color-primary);
  --theme-border-color: rgba(0,0,0,.15);
  --theme-border-color-solid: rgba(0,0,0,.5);
  --theme-table-border-color: #e0e0e0;
  --theme-primary-button-color: var(--brand-color-primary);
  --theme-primary-button-text-color: var(--brand-color-primary-contrast);
}

/* Override colors currently set in core framework */

body {
  background-color: var(--theme-body-color);
  color: var(--theme-body-text-color);
}

a {
  color: var(--theme-link-color);
}

a:hover {
  color: var(--theme-link-color);
}

.page-content a {
  font-weight: bold;
}

.table {
  color: var(--theme-body-text-color);
  border-color: var(--theme-table-border-color);
}

.table th, .table td {
  border-color: var(--theme-table-border-color);
}

.table thead th {
  background-color: var(--theme-border-color);
  color: var(--theme-body-text-color);
  border:none;
}
