/* Default theme colors */

:root {
  --theme-color-light: #ffffff;
  --theme-color-dark: #202020;
  --theme-body-color: #202020;
  --theme-body-color-light: #2f2f2f;
  --theme-body-color-dark: #171717;
  --theme-body-text-color: var(--theme-color-light);
  --theme-link-color: var(--brand-color-secondary);
  --theme-border-color: rgba(255,255,255,.1);
  --theme-border-color-solid: var(--theme-color-light);
  --theme-table-border-color: #555555;
  --theme-primary-button-color: var(--brand-color-primary);
  --theme-primary-button-text-color: var(--brand-color-primary-contrast);
}

/* Override colors currently set in core framework */

body {
  background-color: var(--theme-body-color);
  color: var(--theme-body-text-color);
}

a {
  color: var(--theme-link-color);
}

a:hover {
  color: var(--theme-link-color);
}

.table {
  color: var(--theme-body-text-color);
  border-color: var(--theme-table-border-color);
}

.table th, .table td {
  border-color: var(--theme-table-border-color);
}

.table thead th {
  background-color: var(--theme-border-color);
  color: var(--theme-body-text-color);
  border:none;
}
