// Docs
// Styles for documentation

.page-heading {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.page-content-section {
  margin-top:2rem;
  margin-bottom: 2rem;
}

.section-heading {
  font-weight: 300;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid;
  @include var(border-color, theme-border-color);
}

.brand-select, .theme-select {
  margin-bottom: 1.5rem;
}

.section-item {
  margin-bottom: 3rem;
  > h3 {
    font-size: $h5-font-size;
  }
}

.nav-heading {
  margin-bottom: $headings-margin-bottom;
  font-size: $font-size-base;
}

.page-content p > code {
  @include var(background-color, theme-body-color-dark);
  padding: .2em .4em;
  border-radius: .2em;
}

.highlight {
  margin-left:0;
  margin-right:0;
  padding: 1rem 4rem 1rem 2rem;
  @include var(background-color, theme-body-color-dark);
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  min-height: 53px;
  max-height:53px;
  overflow: hidden;
  position: relative;
  pre {
    margin:0;
    font-size: 14px;
    white-space: pre-wrap;
  }
  &.open {
    max-height: none;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height:15px;
    @include var(background-color, theme-body-color-dark);
  }
}

button[data-code-toggle] {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 1rem;
  background-color: var(--theme-color-light);
  border: none;
  border-radius: 2px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 4px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid var(--theme-color-dark);
  }
}

.highlight.open button[data-code-toggle]:after {
    border-top: none;
    border-bottom: 4px solid var(--theme-color-dark);
}

button[data-brand], button[data-theme] {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  margin:0 0.25rem 1rem 0;
  border: 1px solid;
  border-radius: 50%;
  font-size:0;
  outline: 0;
  cursor: pointer;
  img {
    width: 100%;
  }
}

button[data-brand].selected:after, button[data-theme].selected:after {
  content:"\A";
  display:inline-block;
  position: absolute;
  top: 36px;
  left: calc(50% - 3px);
  width:6px;
  height:6px;
  border-radius:50%;
  @include var(background-color, theme-body-text-color);
}

button[data-brand] {
  background-color: #fff;
  border-color: #e0e0e0;
}

button[data-theme] {
  @include var(border-color, theme-body-text-color);
}

button[data-theme='theme-light'] {
  background-color: #fff;
}

button[data-theme='theme-dark'] {
  background-color: #222;
}

.brand-colors {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  margin: 3rem 0;
}

.brand-color-box {
  text-align: center;
  > div {
    height:100px;
    @include var(background-color, theme-color-dark);
    @include var(color, theme-color-light);
    display: flex;
    align-items: flex-end;
    padding:1rem;
    &.brand-color-primary {
      @include var(background-color, brand-color-primary);
      @include var(color, brand-color-primary-contrast);
    }
    &.brand-color-primary-contrast {
      @include var(background-color, brand-color-primary-contrast);
      @include var(color, brand-color-primary);
    }
    &.brand-color-secondary {
      @include var(background-color, brand-color-secondary);
      @include var(color, brand-color-secondary-contrast);
    }
    &.brand-color-secondary-contrast {
      @include var(background-color, brand-color-secondary-contrast);
      @include var(color, brand-color-secondary);
    }
    &.brand-color-tertiary {
      @include var(background-color, brand-color-tertiary);
      @include var(color, brand-color-tertiary-contrast);
    }
    &.brand-color-tertiary-contrast {
      @include var(background-color, brand-color-tertiary-contrast);
      @include var(color, brand-color-tertiary);
    }
  }
}
