.content-example, .component-example {
  @include var(background-color, theme-body-color-light);
  padding: $spacer * 2;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  > p:last-child {
    margin-bottom: 0;
  }
}

//
// Container illustrations
//

.bd-example-container {
  min-width: 16rem;
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto;
}

.bd-example-container-header {
  height: 3rem;
  margin-bottom: .5rem;
  background-color: var(--theme-link-color);
  border-radius: 5px;
}

.bd-example-container-sidebar {
  float: right;
  width: 4rem;
  height: 8rem;
  background-color: var(--theme-link-color);
  border-radius: 5px;
}

.bd-example-container-body {
  height: 8rem;
  margin-right: 4.5rem;
  background-color: var(--theme-link-color);
  border-radius: 5px;
}

.bd-example-container-fluid {
  max-width: none;
}
