// Layout
// Basic page layout using CSS Grid

body {
  @include var(background-color, theme-body-color);
}

.page-content {
  grid-area: content;
  padding: 0 2rem;
  p {
    @include var(color, theme-body-text-color);
  }
  .page-content-section {
    margin-bottom: 3em;
  }
}

.page-nav {
  grid-area: sidebar;
  padding: 0 2rem;
  border-top: 1px solid;
  @include var(border-color, theme-border-color);
  ul {
    margin:0;
    padding:0;
  }
  ul > li {
    margin:0;
    list-style-type: none;
  }
  ul > li > a {
    display: block;
    padding:0.4rem 0.6rem;
    border-radius: 0.2rem;
    font-size: 90%;
    text-decoration: none;
    @include var(color, theme-link-color);
    &:hover {
      @include var(color, theme-color-light);
      @include var(background-color, theme-color-dark);
    }
  }
  nav {
    margin-top:2rem;
  }
}

.page-header {
  grid-area: header;
  padding:1rem 2rem;
  border-bottom: 1px solid;
  @include var(border-color, theme-border-color);
  .page-brand {
    font-weight:bold;
  }
  .theme-select {
    float:right;
  }
}

.page-footer {
  grid-area: footer;
  padding:0 2rem;
  .page-copyright {
    padding: 1.5rem 0;
    border-top: 1px solid;
    @include var(border-color, theme-border-color);
    font-size: 90%;
    @include var(color, theme-body-text-color);
  }
}

.page {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 2rem;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 640px) {
  .page {
    grid-template-columns: 180px auto;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "sidebar footer"
  }
  .page-nav {
    position: sticky;
    top:0;
    height:calc(100vh);
    border:none;
    padding:0 0 0 2rem;
    .nav-links {
      max-height: calc(100vh - 18rem);
      overflow-y: auto;
      .side-nav {
        margin-bottom: 1rem;
      }
    }
  }
}
